<a href="https://colab.research.google.com/github/dudubouneto/Disc_FluxoVacinacao/blob/main/Regras_de_Associac%CC%A7a%CC%83o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Discretização das variáveis/Data/classes_finais/classes_finais_v3.csv')
# remover drs, ra, etc
data.drop(['codigo_ibge', 'nome_ra', 'nome_drs'], axis=1, inplace=True)
data.head()

,Area,Populacao,Densidade Demografica,Escolaridade 6-14 anos,IDHM,Mortalidade Infantil,PIB per capita,Despesas empenhadas/hab.,Receitas realizadas/hab.,Casos COVID/hab.,Óbitos COVID/hab.,Enfermeiros/hab.,Medicos/hab.,Idade media
0,Área de 383.77 km2 a 459.72 km2,População de 32338.00 a 36275.50 hab.,Densidade de 72.45 a 82.78 hab./km^2,Taxa de escolarização de 97.2 a 97.7%,IDHM de 784.81 a 793.38,Mortalidade infantil de 6.46 a 12.87 óbitos po...,PIB per capita de R$29264.57 a R$31689.77,Despesas empenhadas/hab. de R$3606.86 a R$4057.42,Receitas realizadas/hab. de R$4120.42 a R$4807.10,De 0.28888 a 0.30550 casos de COVID/hab.,De 0.00478 a 0.00516 obitos por COVID/hab.,De 2.35 a 2.51 enfermeiros/hab.,De 4.79 a 5.16 medicos/hab.,Idade media de 40.52 a 41.05 anos
1,Área de 155.91 km2 a 231.86 km2,População de 838.00 a 4775.50 hab.,Densidade de 10.44 a 20.77 hab./km^2,Taxa de escolarização de 98.3 a 98.9%,IDHM de 724.77 a 733.35,Mortalidade infantil de 12.87 a 19.28 óbitos p...,PIB per capita de R$24414.18 a R$26839.38,Despesas empenhadas/hab. de R$5409.10 a R$5859.66,Receitas realizadas/hab. de R$7553.82 a R$8240.50,De 0.25565 a 0.27227 casos de COVID/hab.,De 0.00703 a 0.00741 obitos por COVID/hab.,De 2.20 a 2.35 enfermeiros/hab.,De 9.22 a 9.59 medicos/hab.,Idade media de 40.52 a 41.05 anos
2,Área de 459.72 km2 a 535.68 km2,População de 36275.50 a 40213.00 hab.,Densidade de 62.11 a 72.45 hab./km^2,Taxa de escolarização de 95.5 a 96.0%,IDHM de 707.62 a 716.19,Mortalidade infantil de 12.87 a 19.28 óbitos p...,PIB per capita de R$26839.38 a R$29264.57,Despesas empenhadas/hab. de R$1804.62 a R$2255.18,Receitas realizadas/hab. de R$2060.38 a R$2747.06,De 0.17257 a 0.18919 casos de COVID/hab.,De 0.00366 a 0.00403 obitos por COVID/hab.,De 0.47 a 0.63 enfermeiros/hab.,De 1.48 a 1.84 medicos/hab.,Idade media de 35.67 a 36.21 anos
3,Área de 79.95 km2 a 155.91 km2,População de 4775.50 a 8713.00 hab.,Densidade de 51.78 a 62.11 hab./km^2,Taxa de escolarização de 98.3 a 98.9%,IDHM de 776.23 a 784.81,Mortalidade infantil de 19.28 a 25.68 óbitos p...,PIB per capita de R$19563.79 a R$21988.99,Despesas empenhadas/hab. de R$2705.74 a R$3156.30,Receitas realizadas/hab. de R$3433.74 a R$4120.42,De 0.22242 a 0.23903 casos de COVID/hab.,De 0.00441 a 0.00478 obitos por COVID/hab.,De 0.47 a 0.63 enfermeiros/hab.,De 1.84 a 2.21 medicos/hab.,Idade media de 40.52 a 41.05 anos
4,Área de 4.00 km2 a 79.95 km2,População de 16588.00 a 20525.50 hab.,Densidade de 252.01 a 1617.01 hab./km^2,Taxa de escolarização de 96.0 a 96.6%,IDHM de 741.92 a 750.50,Mortalidade infantil de 6.46 a 12.87 óbitos po...,PIB per capita de R$24414.18 a R$26839.38,Despesas empenhadas/hab. de R$3606.86 a R$4057.42,Receitas realizadas/hab. de R$4120.42 a R$4807.10,De 0.27227 a 0.28888 casos de COVID/hab.,De 0.00328 a 0.00366 obitos por COVID/hab.,De 0.00 a 0.16 enfermeiros/hab.,De 2.21 a 2.58 medicos/hab.,Idade media de 37.82 a 38.36 anos

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Area                      645 non-null    object
 1   Populacao                 645 non-null    object
 2   Densidade Demografica     645 non-null    object
 3   Escolaridade 6-14 anos    645 non-null    object
 4   IDHM                      645 non-null    object
 5   Mortalidade Infantil      639 non-null    object
 6   PIB per capita            645 non-null    object
 7   Despesas empenhadas/hab.  645 non-null    object
 8   Receitas realizadas/hab.  645 non-null    object
 9   Casos COVID/hab.          645 non-null    object
 10  Óbitos COVID/hab.         645 non-null    object
 11  Enfermeiros/hab.          645 non-null    object
 12  Medicos/hab.              645 non-null    object
 13  Idade media               645 non-null    object
dtypes: object(14)
memory usage: 70.7+ KB

In [6]:
data.iloc[0]

Area                                          Área de 383.77 km2 a 459.72 km2
Populacao                               População de 32338.00 a 36275.50 hab.
Densidade Demografica                    Densidade de 72.45 a 82.78 hab./km^2
Escolaridade 6-14 anos                  Taxa de escolarização de 97.2 a 97.7%
IDHM                                                  IDHM de 784.81 a 793.38
Mortalidade Infantil        Mortalidade infantil de 6.46 a 12.87 óbitos po...
PIB per capita                      PIB per capita de R$29264.57 a R$31689.77
Despesas empenhadas/hab.    Despesas empenhadas/hab. de R$3606.86 a R$4057.42
Receitas realizadas/hab.    Receitas realizadas/hab. de R$4120.42 a R$4807.10
Casos COVID/hab.                     De 0.28888 a 0.30550 casos de COVID/hab.
Óbitos COVID/hab.                  De 0.00478 a 0.00516 obitos por COVID/hab.
Enfermeiros/hab.                              De 2.35 a 2.51 enfermeiros/hab.
Medicos/hab.                                      De 4.79 a 5.16 medicos/hab.
Idade media                                 Idade media de 40.52 a 41.05 anos
Name: 0, dtype: object

In [7]:
len(data)

645

In [8]:
# transformando em "lista"
cities = list(data.iloc[index].astype(str).to_list() for index in range(0, len(data)))

In [9]:
type(cities)

list

In [10]:
cities[0]

['Área de 383.77 km2 a 459.72 km2',
 'População de 32338.00 a 36275.50 hab.',
 'Densidade de 72.45 a 82.78 hab./km^2',
 'Taxa de escolarização de 97.2 a 97.7%',
 'IDHM de 784.81 a 793.38',
 'Mortalidade infantil de 6.46 a 12.87 óbitos por mil nascidos vivos',
 'PIB per capita de R$29264.57 a R$31689.77',
 'Despesas empenhadas/hab. de R$3606.86 a R$4057.42',
 'Receitas realizadas/hab. de R$4120.42 a R$4807.10',
 'De 0.28888 a 0.30550 casos de COVID/hab.',
 'De 0.00478 a 0.00516 obitos por COVID/hab.',
 'De 2.35 a 2.51 enfermeiros/hab.',
 'De 4.79 a 5.16 medicos/hab.',
 'Idade media de 40.52 a 41.05 anos']

In [59]:
# transformando em uma tabela "one-hot"
from mlxtend.preprocessing import TransactionEncoder
a = TransactionEncoder()
a_data = a.fit(cities).transform(cities)
df = pd.DataFrame(a_data, columns=a.columns_)
df

,De 0.00 a 0.16 enfermeiros/hab.,De 0.00 a 0.37 medicos/hab.,De 0.00065 a 0.00103 obitos por COVID/hab.,De 0.00103 a 0.00141 obitos por COVID/hab.,De 0.00141 a 0.00178 obitos por COVID/hab.,De 0.00178 a 0.00216 obitos por COVID/hab.,De 0.00216 a 0.00253 obitos por COVID/hab.,De 0.00253 a 0.00291 obitos por COVID/hab.,De 0.00291 a 0.00328 obitos por COVID/hab.,De 0.00328 a 0.00366 obitos por COVID/hab.,...,Área de 4.00 km2 a 79.95 km2,Área de 459.72 km2 a 535.68 km2,Área de 535.68 km2 a 611.63 km2,Área de 611.63 km2 a 687.58 km2,Área de 687.58 km2 a 763.54 km2,Área de 763.54 km2 a 839.49 km2,Área de 79.95 km2 a 155.91 km2,Área de 839.49 km2 a 915.44 km2,Área de 915.44 km2 a 991.40 km2,Área de 991.40 km2 a 1067.35 km2
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,True,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
641,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
642,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
643,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
644,True,True,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False

In [60]:
df = apriori(df, min_support=0.02, use_colnames=True)
df

      support                                           itemsets
0    0.100775                  (De 0.00 a 0.16 enfermeiros/hab.)
1    0.217054                      (De 0.00 a 0.37 medicos/hab.)
2    0.041860       (De 0.00141 a 0.00178 obitos por COVID/hab.)
3    0.055814       (De 0.00178 a 0.00216 obitos por COVID/hab.)
4    0.071318       (De 0.00216 a 0.00253 obitos por COVID/hab.)
..        ...                                                ...
967  0.029457  (Taxa de escolarização de 97.2 a 97.7%, Mortal...
968  0.023256  (Mortalidade infantil de 6.46 a 12.87 óbitos p...
969  0.021705  (Receitas realizadas/hab. de R$2747.06 a R$343...
970  0.020155  (Receitas realizadas/hab. de R$2747.06 a R$343...
971  0.021705  (Receitas realizadas/hab. de R$2747.06 a R$343...

[972 rows x 2 columns]

In [61]:
df_ar = association_rules(df, metric='confidence', min_threshold=0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Densidade de 252.01 a 1617.01 hab./km^2),(Mortalidade infantil de 6.46 a 12.87 óbitos p...,0.085271,0.285271,0.052713,0.618182,2.166996,0.028388,1.871908
1,(Densidade de 252.01 a 1617.01 hab./km^2),(População de 101937.00 a 1460080.89 hab.),0.085271,0.122481,0.057364,0.672727,5.492520,0.046920,2.681309
2,(Despesas empenhadas/hab. de R$1804.62 a R$225...,(Receitas realizadas/hab. de R$2060.38 a R$274...,0.079070,0.134884,0.063566,0.803922,5.960108,0.052901,4.412093
3,(Despesas empenhadas/hab. de R$2255.18 a R$270...,(Receitas realizadas/hab. de R$2747.06 a R$343...,0.179845,0.262016,0.113178,0.629310,2.401806,0.066056,1.990842
4,(Despesas empenhadas/hab. de R$3156.30 a R$360...,(Receitas realizadas/hab. de R$3433.74 a R$412...,0.139535,0.187597,0.088372,0.633333,3.376033,0.062196,2.215645
...,...,...,...,...,...,...,...,...,...
56,(Despesas empenhadas/hab. de R$3156.30 a R$360...,(Receitas realizadas/hab. de R$3433.74 a R$412...,0.043411,0.187597,0.026357,0.607143,3.236423,0.018213,2.067935
57,(Receitas realizadas/hab. de R$3433.74 a R$412...,(Despesas empenhadas/hab. de R$3156.30 a R$360...,0.055814,0.139535,0.034109,0.611111,4.379630,0.026321,2.212625
58,"(Taxa de escolarização de 97.7 a 98.3%, Despes...",(Receitas realizadas/hab. de R$3433.74 a R$412...,0.040310,0.187597,0.034109,0.846154,4.510490,0.026546,5.280620
59,(Receitas realizadas/hab. de R$2747.06 a R$343...,(Mortalidade infantil de 6.46 a 12.87 óbitos p...,0.029457,0.285271,0.024806,0.842105,2.951945,0.016403,4.526615
60,"(Taxa de escolarização de 97.2 a 97.7%, Popula...",(Mortalidade infantil de 6.46 a 12.87 óbitos p...,0.035659,0.285271,0.029457,0.826087,2.895794,0.019285,4.109690

In [65]:
df_ar['antecedents'] = df_ar['antecedents'].apply(lambda x: ', '.join(list(x))).astype("unicode")
df_ar['consequents'] = df_ar['consequents'].apply(lambda x: ', '.join(list(x))).astype("unicode")

In [66]:
df_ar['consequents'].value_counts()

Receitas realizadas/hab. de R$2747.06 a R$3433.74                     17
População de 838.00 a 4775.50 hab.                                    11
Mortalidade infantil de 6.46 a 12.87 óbitos por mil nascidos vivos     6
Receitas realizadas/hab. de R$3433.74 a R$4120.42                      6
Receitas realizadas/hab. de R$2060.38 a R$2747.06                      4
População de 101937.00 a 1460080.89 hab.                               3
Despesas empenhadas/hab. de R$2255.18 a R$2705.74                      3
Receitas realizadas/hab. de R$4120.42 a R$4807.10                      2
Densidade de 10.44 a 20.77 hab./km^2                                   2
Despesas empenhadas/hab. de R$3156.30 a R$3606.86                      2
População de 4775.50 a 8713.00 hab.                                    2
Despesas empenhadas/hab. de R$1804.62 a R$2255.18                      2
Área de 79.95 km2 a 155.91 km2                                         1
Name: consequents, dtype: int64

In [69]:
df_ar = df_ar.sort_values(by='lift', ascending=False)

In [70]:
df_ar.to_csv('/content/drive/MyDrive/Colab Notebooks/Regras de Associaçao/assoc_rules_v2.csv', index=False)